.login-card {
  width: 300px;
  height: 465px;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 60px;
}
.form-control, .form-control:focus{
  background-color: #FFF;
  color: #000;
}

.login-submit {
  margin-top: 55px;
  margin-bottom: 100px;
}

.login-submit button {
  align-items: center;
  height: 50px;
}

@media (min-width: 576px) {
  .login-card {
    width: 480px;
    height: 575px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .login-submit button {
    align-items: center;
    height:65px;
  }
}
