.catalog-container {
  justify-content: space-around;
  padding: 20px;
}

.catalog-container a {
  color: #fff;
  text-decoration: none;
}

.catalog-filter-container {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .catalog-container {
    padding: 40px;
  }
}
@media (min-width: 1200px) {


}
