.main-nav {
  padding-left: 40px;
  min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover, .nav-logo-text h4 {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.nav-logout{
  margin-right: 15px;
}
.nav-logout a{
  text-decoration: none;
  text-align: center;
}

.nav-logout div{
  width: 100px;
  height: 30px;
  border: 1px solid #000;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
}