.btn-container {
  display: flex;
}

.btn-container button {
  width: 100%;
  border-radius: 4px;
}

.btn h6 {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  letter-spacing: -0.015em;
  margin: auto;
}
