.review-form input {
  width: 100%;
}

.review-submit {
  width: 335px;
  margin: 20px auto 0px auto;
}

.review-submit button {
  height: 50px;
}

@media (min-width: 576px) {
  .review-submit button {
    height: 65px;
  }
}